.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -3rem;
  border-radius: var(--mantine-radius-xl);
  position: relative;

  // Shit does not allow to have vertical scrolling effect
  // overflow: hidden;

  // Overlapping sections with sticky positioning
  // position: sticky;
  // top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: rem(160px) 2rem 1rem;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 5rem 1rem 1rem;
  }
}

.box_gallery {
  padding: 0;
  overflow: hidden;

  & > div {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }
}

.box_footer {
  border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
}

.overflow_hidden {
  overflow: hidden;
}
