.sections {
  position: sticky;
  top: 0;
  z-index: 1;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -3rem;
  border-radius: var(--mantine-radius-xl);
  position: relative;

  // Shit does not allow to have vertical scrolling effect
  // overflow: hidden;

  // Overlapping sections with sticky positioning
  // position: sticky;
  // top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  padding: rem(160px) 2rem 1rem;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 5rem 2rem 1rem;
  }
}

.gallery {
  padding: 0;
  overflow: visible;
  position: relative;

  & > div {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
  }
}

.footer {
  border-radius: var(--mantine-radius-xl) var(--mantine-radius-xl) 0 0;
  position: sticky;
  bottom: 0;
  z-index: -2;
}

.hero {
  overflow: hidden;
  // position: sticky;
  // top: 4rem;
  z-index: -1;
}
