@use "../../theme/breakpoints.scss" as *;

.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: rem(97px);
  min-height: rem(538px);
  position: relative;
  margin-bottom: 8rem;
  padding: 2rem 0;
  overflow: hidden;

  @include md-down {
    flex-direction: column-reverse;
    align-items: center;
    gap: rem(50px);
  }
}

.image_container {
  transform-origin: center;
  will-change: transform;

  @include md-down {
    width: 90%;
    max-width: rem(500px);
  }
}

.main_image {
  margin: 1rem;
  border-radius: 30px;
  width: auto;
  max-height: 600px;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  @include md-down {
    width: 100%;
  }
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  max-width: rem(626px);

  @include md-down {
    align-items: center;
    text-align: center;
    width: 90%;
  }
}

.leaf_container {
  position: absolute;
  bottom: 0%;
  right: 5%;
  z-index: -1;
  transform-origin: bottom right;
  will-change: transform;
}

.leaf_image {
  width: auto;
  height: 200px;

  @include md-down {
    display: none;
  }
}
