.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: rem(97px);
  max-height: rem(538px);
  position: relative;
  margin-bottom: 8rem;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column-reverse;
    align-items: center;
    max-height: none;
  }
}

.main_image {
  border-radius: 30px;
  height: auto;
  width: rem(394px);

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  max-width: rem(626px);

  @media (max-width: $mantine-breakpoint-md) {
    align-items: center;
  }
}

.leaf_image {
  position: absolute;
  bottom: -15%;
  right: 0;
  width: auto !important;
  height: 20vw;
  max-height: 375px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
