.contact_form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: rem(97px);
  position: relative;
  margin-bottom: 8rem;

  h2 {
    text-align: left !important;
  }

  @media (max-width: $mantine-breakpoint-md) {
    align-items: center;
    flex-direction: column;
    gap: rem(40px);

    h2 {
      text-align: center !important;
    }
  }
}

.contact_description {
  max-width: 300px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: rem(650px);
  width: 100%;
  gap: 1rem;

  .line {
    width: 100%;

    label {
      font-weight: bold;
      font-family: var(--Poppins);
    }

    textarea {
      min-height: 200px;
    }
  }
}
