.contact_form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: rem(97px);
  position: relative;
  margin-bottom: 8rem;

  h2 {
    text-align: left;
  }

  @media (max-width: $mantine-breakpoint-md) {
    align-items: center;
    flex-direction: column;
    gap: rem(40px);
  }
}

.contact_description {
  max-width: 268px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: rem(626px);
  font-family: var(--Poppins);
  width: 100%;
  gap: rem(15px);

  .line {
    position: relative;
    width: 100%;

    label {
      color: #132b13;
      z-index: 2;
      font-weight: bold;
      font-family: var(--Poppins);
      pointer-events: none;
    }
  }
}
