.about_me {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: rem(97px);
  max-height: rem(538px);
  position: relative;
}

.about_me_img {
  border-radius: 30px;
  height: auto;
  width: rem(394px);
}

.about_me_description {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  max-width: rem(626px);
  font-family: var(--Poppins);
  font-size: rem(24px);
}

.about_deco_1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: 50%;
}
