.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Margin Bottom robi problem z podójnym scroll*/
  /* margin-bottom: -3rem; */
  padding-top: rem(150px);
}

.card_title {
  /* color: var(--mantine-color-white); */
  font-weight: 900;
  line-height: 1.1;
  font-family: var(--Poppins);
  user-select: none;
  font-size: rem(56px);
  /* color: var(--mantine-color-mainGreen-8); */
}
