@use "../../theme/breakpoints.scss" as *;

.whySection {
  position: relative;
  overflow: hidden;
}

.points {
  position: relative;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: rem(160px);
  padding-bottom: rem(380px);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5rem;

  @include lg-down {
    padding-bottom: rem(450px);
  }

  @include md-down {
    grid-template-rows: none;
    padding-top: rem(100px);
    grid-gap: 3rem;
  }

  @include sm-down {
    padding-top: rem(60px);
    padding-bottom: rem(100px);
  }
}

.path {
  width: 180%;
  position: absolute;
  grid-area: 1 / 1 / 6 / 2;
  transform: translate(-56%, -9%);
  left: 50%;

  @include md-down {
    display: none;
  }
}

.text_container {
  align-self: center;

  &:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;

    @include md-down {
      text-align: left;
    }
  }
}

.description {
  margin-top: 1rem;
  font-weight: 500;
}

.img {
  position: absolute;

  @include lg-down {
    display: none;
  }

  // Leaf 1
  &:nth-of-type(3) {
    right: 4%;
    top: 15%;
    transform: rotate(-25deg);

    @include lg-down {
      display: block;
      right: 1%;
      top: 5%;
    }

    @include sm-down {
      display: none;
    }
  }

  // Leaf 2
  &:nth-of-type(4) {
    left: -2%;
    top: 6%;
    transform: rotate(145deg);
  }

  // Leaf 3
  &:nth-of-type(5) {
    right: 10%;
    top: 60%;
  }

  // Leaf 4
  &:nth-of-type(6) {
    right: 1%;
    top: 53%;
  }

  // Leaf 5
  &:nth-of-type(7) {
    left: 3%;
    top: 38%;
  }

  // Leaf 6
  &:nth-of-type(8) {
    right: 4%;
    bottom: 4%;
    left: auto;
    transform: rotate(118deg);

    @include lg-down {
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: -10%;
    }

    @include md-down {
      bottom: -12%;
    }

    @include sm-down {
      display: none;
    }
  }
}
