.why_points {
  height: 100%;
  position: relative;
  max-width: 585px;
  padding-bottom: rem(380px);
  padding-top: rem(160px);
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  grid-gap: 4.25em;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-lg) {
    padding-bottom: rem(450px);
  }

  @media (max-width: $mantine-breakpoint-md) {
    padding-top: rem(100px);
    grid-gap: 3rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(60px);
    padding-bottom: rem(100px);
  }
}

.why_path {
  width: 180%;
  position: absolute;
  grid-area: 1 / 1 / 6 / 2;
  transform: translate(-56%, -9%);
  left: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.why_container:nth-child(even) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;

  @media (max-width: $mantine-breakpoint-md) {
    text-align: left;
  }
}

.why {
  font-family: var(--Roboto);
  font-weight: 900;
  color: var(--mantine-color-mainGreen-9);
}

.why_description {
  margin-top: 1rem;
  font-family: var(--Roboto);
  font-weight: 500;
  color: var(--mantine-color-mainGreen-9);
}

.why_img {
  position: absolute;

  @media (max-width: $mantine-breakpoint-lg) {
    display: none;
  }
}

.why_img:nth-of-type(1) {
  left: 77%;
  top: 15%;
  transform: rotate(-25deg);

  @media (max-width: $mantine-breakpoint-lg) {
    display: block;
    top: 12%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.why_img:nth-of-type(2) {
  left: 1%;
  top: 14%;
  transform: rotate(145deg);
}

.why_img:nth-of-type(3) {
  right: 12%;
  top: 43%;
}

.why_img:nth-of-type(4) {
  right: 3%;
  top: 37%;
}

.why_img:nth-of-type(5) {
  left: 3%;
  top: 44%;
}

.why_img:nth-of-type(6) {
  right: 0;
  bottom: 4%;
  left: auto;
  transform: rotate(118deg);

  @media (max-width: $mantine-breakpoint-lg) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}
