.points {
  height: 100%;
  position: relative;
  max-width: 585px;
  padding-bottom: rem(380px);
  padding-top: rem(160px);
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  display: grid;
  grid-gap: 4.25em;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-lg) {
    padding-bottom: rem(450px);
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-rows: none;
    padding-top: rem(100px);
    grid-gap: 3rem;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding-top: rem(60px);
    padding-bottom: rem(100px);
  }
}

.path {
  width: 180%;
  position: absolute;
  grid-area: 1 / 1 / 6 / 2;
  transform: translate(-56%, -9%);
  left: 50%;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.text_container {
  align-self: center;

  &:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;

    @media (max-width: $mantine-breakpoint-md) {
      text-align: left;
    }
  }
}

.text {
  font-family: var(--Roboto);
  color: var(--mantine-color-mainGreen-9);
}

.title {
  font-weight: 900;
}

.description {
  margin-top: 1rem;
  font-weight: 500;
}

.img {
  position: absolute;

  @media (max-width: $mantine-breakpoint-lg) {
    display: none;
  }

  &:nth-of-type(1) {
    left: 80%;
    top: 15%;
    transform: rotate(-25deg);

    @media (max-width: $mantine-breakpoint-lg) {
      display: block;
      top: 12%;
    }

    @media (max-width: $mantine-breakpoint-sm) {
      display: none;
    }
  }

  &:nth-of-type(2) {
    left: 1%;
    top: 14%;
    transform: rotate(145deg);
  }

  &:nth-of-type(3) {
    right: 10%;
    top: 41%;
  }

  &:nth-of-type(4) {
    right: 1%;
    top: 35%;
  }

  &:nth-of-type(5) {
    left: 3%;
    top: 44%;
  }

  &:nth-of-type(6) {
    right: 4%;
    bottom: 4%;
    left: auto;
    transform: rotate(118deg);

    @media (max-width: $mantine-breakpoint-lg) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 5%;
    }

    @media (max-width: $mantine-breakpoint-sm) {
      display: none;
    }
  }
}
